<table *ngIf="tableTitle" style="width: 100%">
    <tr>
        <th [innerHtml]="tableTitle + ' | header' | convert"></th>
        <th *ngIf="totalPrice" style="text-align: end" [innerHtml]="totalPrice | convert"></th>
    </tr>
</table>
<mat-table [dataSource]=sourceData>
    <ng-container *ngFor="let header of columnPointers" [matColumnDef]="header">
        <mat-header-cell *matHeaderCellDef [innerHtml]="header + ' | header' | convert"></mat-header-cell>
        <mat-cell *matCellDef="let element" [innerHtml]="element[header] | convert: locale">
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnPointers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnPointers;"></mat-row>
</mat-table>