.invoiceItem {
    height: -webkit-fill-available;
    .img-item {
        min-height: 1010px;
    }
    .overlay-container {
        position: relative;
    }
    .overlay-container > * {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media print {
    .invoiceItem {
        min-height: fit-content;
        .img-item {
            margin-top: 20px;
            margin-bottom: 60px;
        }
    }
}
