.invoiceItem {
    .img-item {
        height: 1010px;
    }
    .overlay-container {
        position: relative;
    }
    .overlay-container > * {
        position: absolute;
        top: 0;
        left: 0;
    }
}
