<table>
    <tr>
        <th>Order No.</th>
        <td><input></td>
        <th>License Plate</th>
        <td><input [(ngModel)]="vehicleInfo['ns1:RegistrationData']['ns1:LicenseNumber']"></td>
    </tr>
    <tr>
        <th>Debitor No.</th>
        <td><input></td>
        <th>Accident Ref. No.</th>
        <td><input></td>
    </tr>
    <tr>
        <th>Client Name</th>
        <td colspan="3"><input></td>
    </tr>
    <tr>
        <th>Client Address</th>
        <td colspan="3"><input></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input></td>
        <th>Telephone</th>
        <td><input></td>
    </tr>
    <tr>
        <th>Claims Adjuster</th>
        <td><input></td>
        <th>Damage Date</th>
        <td><input></td>
    </tr>
    <tr>
        <th>Inspector</th>
        <td colspan="3"><input></td>
    </tr>
    <tr>
        <th>Inspection Place</th>
        <td><input></td>
        <th>Inspection Date</th>
        <td><input></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="4">Vehicle Owner</th>
    </tr>
    <tr>
        <th>Name</th>
        <td colspan="3"><input></td>
    </tr>
    <tr>
        <th>Address</th>
        <td colspan="3"><input></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input></td>
        <th>Telephone</th>
        <td><input></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="6">Vehicle</th>
    </tr>
    <tr>
        <th>VIN</th>
        <td  colspan="2"><input [(ngModel)]="vehicleInfo['ns1:VehicleIdentNumber']"></td>
        <th>First Registration</th>
        <td colspan="2">
            <input [(ngModel)]="vehicleInfo['ns1:InitialRegistration']">
        </td>
    </tr>
    <tr>
        <th>Type</th>
        <td colspan="2">
            <input>
        </td>
        <th>Make</th>
        <td colspan="2">
            <input [(ngModel)]="vehicleInfo['ns1:ManufacturerName']">
        </td>
    </tr>
    <tr>
        <th>Model/Series</th>
        <td colspan="5">
            <input [(ngModel)]="vehicleInfo['ns1:BaseModelName']">
        </td>
    </tr>
    <tr>
        <th>Horse Power (HP)</th>
        <td>
            <input [(ngModel)]="vehicleInfo['ns1:Engine']['ns1:EnginePowerKw']">
        </td>
        <th>Cubic Capacity (ccm)</th>
        <td>
            <input [(ngModel)]="vehicleInfo['ns1:Engine']['ns1:Capacity']">
        </td>
        <th class="th-small">Fuel</th>
        <td>
            <input [(ngModel)]="vehicleInfo['ns1:Engine']['ns1:FuelMethod']">
        </td>
    </tr>
    <tr>
        <th>Mileage Reading</th>
        <td colspan="2">
            <input [(ngModel)]="vehicleInfo['ns1:MileageOdometer']">
        </td>
        <th>Color</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr>
        <th>MOT Date</th>
        <td colspan="2">
            <input>
        </td>
        <th>Emission Check</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr>
        <th>Tyre Description</th>
        <td colspan="2">
            <input>
        </td>
        <th>Tyre Brand</th>
        <td colspan="2" >
            <input>
        </td>
    </tr>
    <tr>
        <th>LF / RF</th>
        <td>
            <input>
        </td>
        <th>L Rr / R Rr</th>
        <td>
            <input>
        </td>
        <th class="th-small">Tyre Type</th>
        <td>
            <input>
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>Equipment/ Accessories</th>
        <td colspan="3">
            <input>
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>Additional Comments</th>
        <td colspan="3">
            <input>
        </td>
    </tr>
</table>