<table>
    <tr [ngClass]="{'hide-print': hide[0]}">
        <th>
            <mat-checkbox [indeterminate]="hide[0]" [(ngModel)]="hide[0]"></mat-checkbox>
            Order No.
        </th>
        <td><input [value]="additionalInfo['claimNumber']"></td>
        <th>License Plate</th>
        <td><input [value]="vehicleInfo['ns1:RegistrationData']['ns1:LicenseNumber']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[1]}">
        <th>
            <mat-checkbox [indeterminate]="hide[1]" [(ngModel)]="hide[1]"></mat-checkbox>
            Debitor No.
        </th>
        <td><input></td>
        <th>Accident Ref. No.</th>
        <td><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[2]}">
        <th>
            <mat-checkbox [indeterminate]="hide[2]" [(ngModel)]="hide[2]"></mat-checkbox>
            Client Name
        </th>
        <td colspan="3"><input [value]="expertInfo['ns1:NameLong'] || expertInfo['ns1:CompanyName']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[3]}">
        <th>
            <mat-checkbox [indeterminate]="hide[3]" [(ngModel)]="hide[3]"></mat-checkbox>
            Client Address
        </th>
        <td colspan="3"><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[4]}">
        <th>
            <mat-checkbox [indeterminate]="hide[4]" [(ngModel)]="hide[4]"></mat-checkbox>
            Email
        </th>
        <td><input></td>
        <th>Telephone</th>
        <td><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[5]}">
        <th>
            <mat-checkbox [indeterminate]="hide[5]" [(ngModel)]="hide[5]"></mat-checkbox>
            Claims Adjuster
        </th>
        <td><input></td>
        <th>Damage Date</th>
        <td><input [value]="additionalInfo['accidentDate'] | date"></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[6]}">
        <th>
            <mat-checkbox [indeterminate]="hide[6]" [(ngModel)]="hide[6]"></mat-checkbox>
            Inspector
        </th>
        <td colspan="3"><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[7]}">
        <th>
            <mat-checkbox [indeterminate]="hide[7]" [(ngModel)]="hide[7]"></mat-checkbox>
            Inspection Place
        </th>
        <td><input></td>
        <th>Inspection Date</th>
        <td><input></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="4">Vehicle Owner</th>
    </tr>
    <tr [ngClass]="{'hide-print': hide[8]}">
        <th>
            <mat-checkbox [indeterminate]="hide[8]" [(ngModel)]="hide[8]"></mat-checkbox>
            Name
        </th>
        <td colspan="3"><input [value]="ownerInfo['ns1:LastName'] + ' ' + ownerInfo['ns1:FirstName']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[9]}">
        <th>
            <mat-checkbox [indeterminate]="hide[9]" [(ngModel)]="hide[9]"></mat-checkbox>
            Address
        </th>
        <td colspan="3"><input [value]="this.ownerInfo['ns1:Street'] + ', ' + this.ownerInfo['ns1:StreetCity']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[10]}">
        <th>
            <mat-checkbox [indeterminate]="hide[10]" [(ngModel)]="hide[10]"></mat-checkbox>
            Email
        </th>
        <td><input [value]="ownerInfo['ns1:Email']"></td>
        <th>Telephone</th>
        <td><input [value]="ownerInfo['ns1:PhoneMobile'] || ownerInfo['ns1:Personal']"></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="6">Vehicle</th>
    </tr>
    <tr [ngClass]="{'hide-print': hide[11]}">
        <th>
            <mat-checkbox [indeterminate]="hide[11]" [(ngModel)]="hide[11]"></mat-checkbox>
            VIN
        </th>
        <td  colspan="2"><input [value]="vehicleInfo['ns1:VehicleIdentNumber']"></td>
        <th>First Registration</th>
        <td colspan="2">
            <input [value]="additionalInfo['vehicle_registrationFirst'] | date">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[12]}">
        <th>
            <mat-checkbox [indeterminate]="hide[12]" [(ngModel)]="hide[12]"></mat-checkbox>
            Type
        </th>
        <td colspan="2">
            <input [value]="additionalInfo['VehicleUse']">
        </td>
        <th>Make</th>
        <td colspan="2">
            <input [value]="vehicleInfo['ns1:ManufacturerName']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[13]}">
        <th>
            <mat-checkbox [indeterminate]="hide[13]" [(ngModel)]="hide[13]"></mat-checkbox>
            Model/Series
        </th>
        <td colspan="5">
            <input [value]="vehicleInfo['ns1:BaseModelName']+', '+vehicleInfo['ns1:SubModelName']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[14]}">
        <th>
            <mat-checkbox [indeterminate]="hide[14]" [(ngModel)]="hide[14]"></mat-checkbox>
            Horse Power (HP)
        </th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:EnginePowerKw']">
        </td>
        <th>Cubic Capacity (ccm)</th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:Capacity']">
        </td>
        <th class="th-small">Fuel</th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:FuelMethod']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[15]}">
        <th>
            <mat-checkbox [indeterminate]="hide[15]" [(ngModel)]="hide[15]"></mat-checkbox>
            Mileage Reading
        </th>
        <td colspan="2">
            <input [value]="vehicleInfo['ns1:MileageOdometer']">
        </td>
        <th>Color</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[16]}">
        <th>
            <mat-checkbox [indeterminate]="hide[16]" [(ngModel)]="hide[16]"></mat-checkbox>
            MOT Date
        </th>
        <td colspan="2">
            <input>
        </td>
        <th>Emission Check</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[17]}">
        <th>
            <mat-checkbox [indeterminate]="hide[17]" [(ngModel)]="hide[17]"></mat-checkbox>
            Tyre Description
        </th>
        <td colspan="2">
            <input>
        </td>
        <th>Tyre Brand</th>
        <td colspan="2" >
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': hide[18]}">
        <th>
            <mat-checkbox [indeterminate]="hide[18]" [(ngModel)]="hide[18]"></mat-checkbox>
            LF / RF
        </th>
        <td>
            <input>
        </td>
        <th>L Rr / R Rr</th>
        <td>
            <input>
        </td>
        <th class="th-small">Tyre Type</th>
        <td>
            <input>
        </td>
    </tr>
</table>
<table>
    <tr [ngClass]="{'hide-print': hide[19]}">
        <th>
            <mat-checkbox [indeterminate]="hide[19]" [(ngModel)]="hide[19]"></mat-checkbox>
            Equipment/ Accessories
        </th>
        <td colspan="3">
            <textarea id="textarea1" (keyup)="textAreaAdjust(1)" style="overflow:hidden"></textarea>
        </td>
    </tr>
</table>
<table>
    <tr [ngClass]="{'hide-print': hide[20]}">
        <th>
            <mat-checkbox [indeterminate]="hide[20]" [(ngModel)]="hide[20]"></mat-checkbox>
            Additional Comments
        </th>
        <td colspan="3">
            <textarea id="textarea2" (keyup)="textAreaAdjust(2)" style="overflow:hidden"></textarea>
        </td>
    </tr>
</table>