<table>
    <tr [ngClass]="{'hide-print': chkh1.indeterminate}">
        <th>
            <mat-checkbox #chkh1 [(ngModel)]="chkh1.indeterminate"></mat-checkbox>
            Order No.
        </th>
        <td><input [value]="additionalInfo['claimNumber']"></td>
        <th>License Plate</th>
        <td><input [value]="vehicleInfo['ns1:RegistrationData']['ns1:LicenseNumber']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh2.indeterminate}">
        <th>
            <mat-checkbox #chkh2 [(ngModel)]="chkh2.indeterminate"></mat-checkbox>
            Debitor No.
        </th>
        <td><input></td>
        <th>Accident Ref. No.</th>
        <td><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh3.indeterminate}">
        <th>
            <mat-checkbox #chkh3 [(ngModel)]="chkh3.indeterminate"></mat-checkbox>
            Client Name
        </th>
        <td colspan="3"><input [value]="expertInfo['ns1:NameLong'] || expertInfo['ns1:CompanyName']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh4.indeterminate}">
        <th>
            <mat-checkbox #chkh4 [(ngModel)]="chkh4.indeterminate"></mat-checkbox>
            Client Address
        </th>
        <td colspan="3"><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh5.indeterminate}">
        <th>
            <mat-checkbox #chkh5 [(ngModel)]="chkh5.indeterminate"></mat-checkbox>
            Email
        </th>
        <td><input></td>
        <th>Telephone</th>
        <td><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh6.indeterminate}">
        <th>
            <mat-checkbox #chkh6 [(ngModel)]="chkh6.indeterminate"></mat-checkbox>
            Claims Adjuster
        </th>
        <td><input></td>
        <th>Damage Date</th>
        <td><input [value]="additionalInfo['accidentDate'] | date"></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh7.indeterminate}">
        <th>
            <mat-checkbox #chkh7 [(ngModel)]="chkh7.indeterminate"></mat-checkbox>
            Inspector
        </th>
        <td colspan="3"><input></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh8.indeterminate}">
        <th>
            <mat-checkbox #chkh8 [(ngModel)]="chkh8.indeterminate"></mat-checkbox>
            Inspection Place
        </th>
        <td><input></td>
        <th>Inspection Date</th>
        <td><input></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="4">Vehicle Owner</th>
    </tr>
    <tr [ngClass]="{'hide-print': chkh9.indeterminate}">
        <th>
            <mat-checkbox #chkh9 [(ngModel)]="chkh9.indeterminate"></mat-checkbox>
            Name
        </th>
        <td colspan="3"><input [value]="ownerInfo['ns1:LastName'] + ' ' + ownerInfo['ns1:FirstName']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh10.indeterminate}">
        <th>
            <mat-checkbox #chkh10 [(ngModel)]="chkh10.indeterminate"></mat-checkbox>
            Address
        </th>
        <td colspan="3"><input [value]="this.ownerInfo['ns1:Street'] + ', ' + this.ownerInfo['ns1:StreetCity']"></td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh11.indeterminate}">
        <th>
            <mat-checkbox #chkh11 [(ngModel)]="chkh11.indeterminate"></mat-checkbox>
            Email
        </th>
        <td><input [value]="ownerInfo['ns1:Email']"></td>
        <th>Telephone</th>
        <td><input [value]="ownerInfo['ns1:PhoneMobile'] || ownerInfo['ns1:Personal']"></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="6">Vehicle</th>
    </tr>
    <tr [ngClass]="{'hide-print': chkh12.indeterminate}">
        <th>
            <mat-checkbox #chkh12 [(ngModel)]="chkh12.indeterminate"></mat-checkbox>
            VIN
        </th>
        <td  colspan="2"><input [value]="vehicleInfo['ns1:VehicleIdentNumber']"></td>
        <th>First Registration</th>
        <td colspan="2">
            <input [value]="additionalInfo['vehicle_registrationFirst'] | date">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh13.indeterminate}">
        <th>
            <mat-checkbox #chkh13 [(ngModel)]="chkh13.indeterminate"></mat-checkbox>
            Type
        </th>
        <td colspan="2">
            <input [value]="additionalInfo['VehicleUse']">
        </td>
        <th>Make</th>
        <td colspan="2">
            <input [value]="vehicleInfo['ns1:ManufacturerName']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh14.indeterminate}">
        <th>
            <mat-checkbox #chkh14 [(ngModel)]="chkh14.indeterminate"></mat-checkbox>
            Model/Series
        </th>
        <td colspan="5">
            <input [value]="vehicleInfo['ns1:BaseModelName']+', '+vehicleInfo['ns1:SubModelName']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh15.indeterminate}">
        <th>
            <mat-checkbox #chkh15 [(ngModel)]="chkh15.indeterminate"></mat-checkbox>
            Horse Power (HP)
        </th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:EnginePowerKw']">
        </td>
        <th>Cubic Capacity (ccm)</th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:Capacity']">
        </td>
        <th class="th-small">Fuel</th>
        <td>
            <input [value]="vehicleInfo['ns1:Engine']['ns1:FuelMethod']">
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh16.indeterminate}">
        <th>
            <mat-checkbox #chkh16 [(ngModel)]="chkh16.indeterminate"></mat-checkbox>
            Mileage Reading
        </th>
        <td colspan="2">
            <input [value]="vehicleInfo['ns1:MileageOdometer']">
        </td>
        <th>Color</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh17.indeterminate}">
        <th>
            <mat-checkbox #chkh17 [(ngModel)]="chkh17.indeterminate"></mat-checkbox>
            MOT Date
        </th>
        <td colspan="2">
            <input>
        </td>
        <th>Emission Check</th>
        <td colspan="2">
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh18.indeterminate}">
        <th>
            <mat-checkbox #chkh18 [(ngModel)]="chkh18.indeterminate"></mat-checkbox>
            Tyre Description
        </th>
        <td colspan="2">
            <input>
        </td>
        <th>Tyre Brand</th>
        <td colspan="2" >
            <input>
        </td>
    </tr>
    <tr [ngClass]="{'hide-print': chkh19.indeterminate}">
        <th>
            <mat-checkbox #chkh19 [(ngModel)]="chkh19.indeterminate"></mat-checkbox>
            LF / RF
        </th>
        <td>
            <input>
        </td>
        <th>L Rr / R Rr</th>
        <td>
            <input>
        </td>
        <th class="th-small">Tyre Type</th>
        <td>
            <input>
        </td>
    </tr>
</table>
<table>
        <tr [ngClass]="{'hide-print': chkh20.indeterminate}">
            <th>
                <mat-checkbox #chkh20 [(ngModel)]="chkh20.indeterminate"></mat-checkbox>
            Equipment/ Accessories
        </th>
        <td colspan="3">
            <textarea id="textarea1" (keyup)="textAreaAdjust(1)" style="overflow:hidden"></textarea>
        </td>
    </tr>
</table>
<table>
        <tr [ngClass]="{'hide-print': chkh21.indeterminate}">
            <th>
                <mat-checkbox #chkh21 [(ngModel)]="chkh21.indeterminate"></mat-checkbox>
            Additional Comments
        </th>
        <td colspan="3">
            <textarea id="textarea2" (keyup)="textAreaAdjust(2)" style="overflow:hidden"></textarea>
        </td>
    </tr>
</table>