.container {
    padding: 50px 20px;
    
    .tool-bar {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        .print-button {
            position: absolute;
            right: 0;
            top: 90px;
            margin-right: 30px;
            cursor: pointer;
        }
    }
    .tool-bar > * {
        margin-bottom: 10px;
        width: fit-content;
    }
}

.img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img-item {
    overflow: hidden;
    width: 300px;
    margin: 10px;
    margin-bottom: 0;
}

@media print {
    .container {
        padding: 0 20px;
    }
}