<div class="container">
    <div class="tool-bar hide-print">
        <input (change)="addFile($event)" type="file" class="inputFile" id="xmlFile">
        <label for="xmlFile" [innerHtml]="'File: ' + fileName"></label>
        <input (change)="addImages($event)" type="file" multiple="multiple" class="inputFile" id="imgs">
        <label for="imgs" [innerHtml]="'Images: ' + numberOfImages"></label>
        <div class ="print-button" (click)="print()">Print</div>
    </div>
    <div *ngIf="dataProcessed">
        
        <imp-report-title
            imgPath="assets/img/Logo_Imp_D_P.jpg"
            [dims]="[700, 65]"
            title="International vehicle damage inspection "
        ></imp-report-title>
        
        <client-info
            [additionalInfo]="additionalInfo"
            [ownerInfo]="ownerInfo"
            [dealerInfo]="dealerInfo"
            [expertInfo]="expertInfo"
            [vehicleInfo]="vehicleInfo"
        ></client-info>

        <imp-damage-card></imp-damage-card>
            
        <div *ngFor="let page of pages">
            <p style="page-break-before: always">
                <div *ngFor="let table of page">
                        <table-info
                        [data]="table">
                    </table-info>
                </div>
        </div>
            
    </div>
    <div *ngIf="imgsSelected" >
        <p style="page-break-before: always"></p>
        <div class="img-container">
            <div *ngFor="let image of imgFilePaths" class="img-item">
                <p style="page-break-before: auto; display:none;"></p>
                <img [attr.src]="image" [alt]="image" width="300">
            </div>
        </div>
     </div>
</div>
