.scroll {
    max-height:500px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

input {
    &:hover{
        outline: none;
    }
    &:focus,
    &:active {
        outline: none;
        border: 2px inset rgba(#2f84ec, 0.5);
    }
}