<div style="margin-bottom: 10px;">
    <table *ngIf="data.title" style="width: 100%">
        <tr>
            <th [innerHtml]="data.title | header: localeService.locale"></th>
            <th *ngIf="data.price" style="text-align: end" [innerHtml]="data.price | convert"></th>
        </tr>
    </table>
    <mat-table *ngIf="data.source" [dataSource]=data.source>
        <ng-container *ngFor="let header of data.pointers" [matColumnDef]="header" style="page-break-before:always;">
            <mat-header-cell *matHeaderCellDef [innerHtml]="header | header: localeService.locale"></mat-header-cell>
            <mat-cell *matCellDef="let element" [innerHtml]="element[header] | convert: localeService.locale">
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="data.pointers"></mat-header-row>
        <mat-row *matRowDef="let row; columns: data.pointers;"></mat-row>
    </mat-table>
</div>