<div *ngIf="data" [ngClass]="cssClass" style="margin-bottom: 10px;">
    <table>
        <tr *ngIf="data.title" class="overview">
            <th>{{data.title | translate}}</th>
            <th *ngIf="data.price" style="justify-content: end">{{data.price | precision:2}}</th>
        </tr>
        <ng-container *ngFor="let entry of data.rows">
            <ng-container *ngIf="entry.type == 'header'">
                <tr class="header">
                    <th *ngFor="let cell of entry.cells" [style.flex-basis.%]="cell.width || 0">
                        {{cell.value | translate}}
                    </th>
                </tr>
            </ng-container>
            <ng-container *ngIf="entry.type == 'row'">
                <tr class="row">
                    <td *ngFor="let cell of entry.cells" [style.flex-basis.%]="cell.width || 0">
                        <ng-container *ngIf="cell.isAsync; else sync">
                            {{cell.value | async | precision:2}}
                        </ng-container>
                        <ng-template #sync>
                            {{cell.value | precision:2}}
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </table>
</div>