<div class="damage-card-container">
    <img src="assets/img/car.png" alt="Car Img" width='300' height='150'>
    <div class="damage-card">
        <div class="damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide-print': !chk1.checked}" #chk1></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk2.checked}"  #chk2></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk3.checked}"  #chk3></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk4.checked}"  #chk4></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk5.checked}"  #chk5></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk6.checked}"  #chk6></mat-checkbox>
        </div>
        
        <div class="damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide-print': !chk7.checked}"  #chk7></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk8.checked}"  #chk8></mat-checkbox>
        </div>
        
        <div class="damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide-print': !chk9.checked}"  #chk9></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk10.checked}"  #chk10></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk11.checked}"  #chk11></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk12.checked}"  #chk12></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk13.checked}"  #chk13></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide-print': !chk14.checked}"  #chk14></mat-checkbox>
        </div>
        
    </div>
</div>