.canvas-container {
    position: relative;
    // hardcoded size
    width: 714px;
    height: 1010px;
    .overlayCanvas {
        position: absolute;
        left: 0;
        z-index: 90;
    }
}

@media print {
    .canvas-container {
        padding-top: 20px;
        padding-bottom: 60px;
    }
}