.invoiceContainer {
    width: auto;
    max-width: 100%;
    height: auto;
    flex: 1 1 auto;
    padding-top: 50px;
    .invoiceItemContainer {
        width: 49%;
        height: -webkit-fill-available;
        overflow: auto;
    }
}

@media print {
    .invoiceContainer {
        flex-flow: row wrap;
        padding-top: 0;
        .invoiceItemContainer {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
            page-break-after: always;
            overflow: visible;
        }
    }
}