<div class="damage-card-container" [ngClass]="cssClass">
    <img src="assets/img/car.png" alt="Car Img" width='300' height='150'>
    <div class="flex column sp-between damage-card">
        <div class="flex row sp-between damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide': !chk1.checked}" #chk1></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk2.checked}"  #chk2></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk3.checked}"  #chk3></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk4.checked}"  #chk4></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk5.checked}"  #chk5></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk6.checked}"  #chk6></mat-checkbox>
        </div>
        
        <div class="flex row sp-between damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide': !chk7.checked}"  #chk7></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk8.checked}"  #chk8></mat-checkbox>
        </div>
        
        <div class="flex row sp-between damage-indicator-row">
                <mat-checkbox [ngClass]="{'hide': !chk9.checked}"  #chk9></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk10.checked}"  #chk10></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk11.checked}"  #chk11></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk12.checked}"  #chk12></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk13.checked}"  #chk13></mat-checkbox>
                <mat-checkbox [ngClass]="{'hide': !chk14.checked}"  #chk14></mat-checkbox>
        </div>
        
    </div>
</div>