.damage-card-container{
    margin: auto;
    width: 300px;
    height: 150px;
    img {
        position: absolute;
    }
    .damage-card {
        height: 100%;
        .damage-indicator-row {
            mat-checkbox {
                margin: 10px;
            }
        }
    }
}

.hide {
    @media print {        
        visibility: hidden;
    }
}