<div class="background flex column sp-around">
    <div class="container flex column">
        <!-- <div class="header">IMPERIAL</div> -->
        <div class="nav-buttons flex row-wrap sp-around">
            <div class="item-link" [routerLink]="['/generate-report']">Generate Report</div>
            <div class="item-link" [routerLink]="['/generate-report-dekra']">Generate Dekra Report</div>
            <div class="item-link" [routerLink]="['/generate-report-avus']">Generate Avus Report</div>
            <div class="item-link" [routerLink]="['/generate-report-equipment']">Generate Equipment Report</div>
            <div class="item-link" [routerLink]="['/invoice-check']">Compare Invoices</div>
        </div>
    </div>    
</div>
