@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
@page 
    {
        size: A4;   /* auto is the initial value */
        margin: 15px;  /* this affects the margin in the printer settings */
    }

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        height: 90%;
        margin-bottom: 80px;
        padding-bottom: 80px;
    }

    #border {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // border: 2px solid rgb(110, 26, 23);
        border: 2px solid rgb(1, 131, 67);
    }
    
    header, footer, .hide-print{
        display: none !important;
    }
}

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}


.mat-checkbox-checked .mat-checkbox-background {
    background-color: rgb(110, 26, 23) !important;
}

.mat-ripple-element {
    background-color: rgba(110, 26, 23, 0.4) !important;
}

.inputFile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFile + label {
	cursor: pointer;
}
