@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@page 
    {
        size: A4;
        margin: 15px;
    }

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        height: 90%;
        margin-bottom: 80px;
        padding-bottom: 80px;
    }

    #border {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // border: 2px solid rgb(110, 26, 23);
        border: 2px solid rgb(1, 131, 67);
    }
    
    header, footer, .hide-print{
        display: none !important;
    }

    .img-print {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

body {
    margin: auto;
    overscroll-behavior: none;
    width: 21cm;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: rgb(110, 26, 23) !important;
}

.mat-ripple-element {
    background-color: rgba(110, 26, 23, 0.4) !important;
}

.inputFile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFile + label {
	cursor: pointer;
}
.container {
    padding: 20px 20px;

    .tool-bar {
        border-bottom: 1px solid black;
        position: fixed;
        width: -webkit-fill-available;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 500;
    }
    .tool-bar > * {
        margin: 10px;
        width: fit-content;
        cursor: pointer;
    }
}

.flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

.row {
    flex-flow: row nowrap;
}

.column {
    flex-flow: column nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.column-wrap {
    flex-flow: column wrap;
}

.sp-between {
    justify-content: space-between;
}

.sp-around {
    justify-content: space-around;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mat-menu-panel {
    box-shadow: none !important;
    border: #000 solid 1px !important;
    border-radius: 2px !important;
    max-height: 300px !important;
    .mat-menu-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        .mat-menu-item {
            line-height: 40px;
            height: 40px;
        }
        button {
            &.active {
                background-color: rgba(110, 26, 23, 0.2) !important;
            }
            &:hover {
                background-color: rgba(110, 26, 23, 0.4) !important;
            }
        }
    }
}

.cdk-overlay-container {
    z-index: 2000 !important;
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(black, 0.5);
      &:hover {
        cursor: pointer !important;
        background: rgba(110, 26, 23, 0.5);
      }
    }
  }