.navContainer{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(110, 26, 23);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    .navItem {
        font-size: 14px;
        color: white;
        width: auto;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        &:hover {
            cursor: pointer;
        }
        &.logo {
            font-size: 18px;
        }
    }
}