<div class="container">
    <div class="flex row tool-bar hide-print">
        <div class ="mr-auto" [routerLink]="['/welcome']"><mat-icon>first_page</mat-icon></div>
        <input (change)="addFile($event)" type="file" class="inputFile" id="xmlFile" accept=".xml">
        <label for="xmlFile" class="flex row">
            <mat-icon>note_add</mat-icon>
            <div class="flex column sp-around label-info" [innerHtml]="fileName"></div>
        </label>
        <input (change)="addImages($event)" type="file" multiple="multiple" class="inputFile" id="imgs"  accept="image/png, image/jpeg">
        <label for="imgs" class="flex row">
            <mat-icon>add_photo_alternate</mat-icon>
            <div class="flex column sp-around label-info" [innerHtml]="numberOfImages"></div>
        </label>
        <imp-lang-picker></imp-lang-picker>
        <div class ="mr-auto" (click)="print()"><mat-icon>print</mat-icon></div>
    </div>
    <div *ngIf="dataProcessed">
        
        <imp-report-title
            [imgPath]="logoPath"
            [dims]="logoDims"
            title="DamageInspectionTitle"
        ></imp-report-title>
        
        <client-info
            [additionalInfo]="data.additionalInfo"
            [ownerInfo]="data.ownerInfo"
            [dealerInfo]="data.dealerInfo"
            [expertInfo]="data.expertInfo"
            [vehicleInfo]="data.vehicleInfo"
        ></client-info>

        <imp-damage-card [cssClass]="checkboxCss"></imp-damage-card>
            
        <div *ngFor="let page of data.pages">
            <p style="page-break-before: always">
                <div *ngFor="let table of page">
                        <imp-table-info
                        [data]="table"
                        [cssClass]="tableCss">
                    </imp-table-info>
                </div>
        </div>
            
    </div>
    <div *ngIf="imgsSelected" >
        <div *ngFor="let album of imageAlbum">
                <p style="page-break-before: always"></p>
                <div class="flex row-wrap sp-between">
                    <div *ngFor="let image of album" class="img-item">
                        <img [attr.src]="image" [alt]="image" width="325" height="300">
                    </div>
                </div>        
        </div>
     </div>
</div>
